{% extends 'base.html' %}
{% set active_page = "Login" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block title %}Leerstandsmelder - Login{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}" />
{% endblock %}
{% block content %}
<div class="login-dark">
    <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form" class="form-signin">
      {{ login_user_form.hidden_tag() }}
        <div class="form-group">
            {{ render_field_with_errors(login_user_form.email, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field_with_errors(login_user_form.password, class_="form-control") }}
        </div>
      {{ render_field_with_errors(login_user_form.remember) }}
      {{ render_field(login_user_form.next) }}
      {{ render_field(login_user_form.submit, class_="btn btn-primary btn-block") }}
    </form>
</div>
{% include "security/_menu.html" %}
{% endblock %}