{% extends "base.html" %}
{% set active_page = "Leerstand melden" %}
{% set menu = "addvacancy" %}
{% block content %}
    <form action={{ url_for('add_vacancy') }} method="post" id="vacancyform" class="col-sm-6 offset-sm-3" enctype="multipart/form-data" novalidate>
        <div class="form-group">
        {{ form.hidden_tag() }}
            {{ form.name.label() }}
            {{ form.name(class="form-control" + (" is-invalid" if form.name.errors else "")) }}
            {% for error in form.name.errors %}
                <small class="text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.since.label() }}
            {{ form.since(class="form-control" + (" is-invalid" if form.since.errors else "")) }}
            {% for error in form.since.errors %}
                <small class="text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-8">
                    {{ form.street.label() }}
                    {{ form.street(class="form-control" + (" is-invalid" if form.street.errors else "")) }}
                </div>
                <div class="col-4">
                    {{ form.number.label() }}
                    {{ form.number(class="form-control" + (" is-invalid" if form.street.errors else "")) }}
                </div>
                {% for error in form.street.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
                {% for error in form.number.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-4">
                    {{ form.postal.label() }}
                    {{ form.postal(class="form-control" + (" is-invalid" if form.postal.errors else "")) }}
                    {% for error in form.postal.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="col-8">
                    {{ form.city.label() }}
                    {{ form.city(class="form-control" + (" is-invalid" if form.city.errors else "")) }}
                    {% for error in form.city.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-sm">
                    {{ form.building_type.label() }}
                    {{ form.building_type(class="form-control custom-select") }}
                    {% for error in form.building_type.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="col-sm">
                    {{ form.degree.label() }}
                    {{ form.degree(class="form-control custom-select") }}
                    {% for error in form.degree.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="col-sm">
                    {{ form.ownership.label() }}
                    {{ form.ownership(class="form-control custom-select") }}
                    {% for error in form.ownership.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form.owner.label() }}
            {{ form.owner(class="form-control" + (" is-invalid" if form.owner.errors else "")) }}
            {% for error in form.owner.errors %}
                <small class="text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.description.label() }}
            {{ form.description(class="form-control" + (" is-invalid" if form.description.errors else "")) }}
            {% for error in form.description.errors %}
                <span style="color: #ff0000;">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.image.label() }}
            {{ form.image(class="form-control-file" + (" is-invalid" if form.image.errors else "")) }}
            {% for error in form.image.errors %}
                <span style="color: #ff0000;">{{ error }}</span>
            {% endfor %}
        </div>
        {% if current_user.is_anonymous %}
        <div class="form-group">
            {{ hcaptcha }}
        </div>
        {% endif %}
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}