{% extends "base.html" %}
{% set active_page = "Leerstandskarte" %}
{% set menu = "map" %}
{% block content %}

    <div id="mapContainer" style="position:relative;height: 100%;">
        <div id="map" style="height: 100%;"></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="detailsModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Title</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <a href="" class="btn btn-info" data-dismiss="modal">Korrektur vorschlagen</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Leaflet.js -->
<script src="https://unpkg.com/leaflet@1.9.1/dist/leaflet.js" integrity="sha256-NDI0K41gVbWqfkkaHj15IzU7PtMoelkzyKp8TOaFQ3s=" crossorigin=""></script>

    <script>
        function showDetailsModal(id){
            fetch("/vacancy/" + id, {

            }).then(function (response){
                response.json().then(function (data){
                    $('#detailsModal .modal-header').html('<h4 class="modal-title">' + data.name + '</h4><button type="button" class="close" data-dismiss="modal">&times;</button>');
                    $('#detailsModal .modal-body').html(data.body);
                    $('#detailsModal .modal-footer').html('<div class="container-fluid"><div class="row-fluid"><div class="col-sm mb-2"><a href="/correction/' + id +'" class="btn btn-info btn-block">Korrektur vorschlagen</a></div><div class="col-sm mt-2"><button type="button" class="btn btn-default btn-block" data-dismiss="modal">Schließen</button></div></div></div>')
                    $('#detailsModal').modal('show');
                })
            }).catch(function (err){
                console.log('Error fetching vacancy details: -S', err)
            })
        }
    </script>
    <script>
        let mapHeight = window.innerHeight - $('#navbar').height() - parseFloat($('#navbar').css("padding-top")) - parseFloat($('#navbar').css("padding-bottom"));
        $('#map').attr("style", `height: ${mapHeight}px;`)

    function createMap() {
        let map = L.map('map').setView([50.77543, 6.08383], 13);
        let tiles = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: '{{ config['MAPBOX_ACCESS_TOKEN'] }}',
            detectRetina: true
        }).addTo(map);
        let marker = null;
        {% for vacancy in vacancies %}
            marker = L.marker([{{ vacancy.latitude }}, {{ vacancy.longitude }}]).addTo(map);
            marker.bindPopup('<h6>{{ vacancy.name }}</h6><br>{{ vacancy.street }} {{ vacancy.number }}, {{ vacancy.plz }} {{ vacancy.city }}<br> <a onclick="showDetailsModal({{ vacancy.id }})" href="javascript:void(0)" >Details</a>');
        {% endfor %}
        return map
    }
    map = createMap()
    window.onresize = function(event) {
            map.remove()
            $("#map div").remove();
            let mapHeight = window.innerHeight - $('#navbar').height() - parseFloat($('#navbar').css("padding-top")) - parseFloat($('#navbar').css("padding-bottom"));
            $('#map').attr("style", `height: ${mapHeight}px;`)
            $('#map').removeAttr("class");
            $('#map').removeAttr("tabindex");
            map = createMap()
    };
</script>
{% endblock %}