{% if has_img %}
<img src="/static/img/{{ vacancy.id }}.jpg" alt="Ein Foto des Leerstands {{ vacancy.name }}" class="img-fluid rounded d-block mx-auto mb-3">
{% endif %}
<h5>Beschreibung</h5>
<p>{{ vacancy.description  if vacancy.description  else "Keine Information" }}</p>
<h5>Adresse</h5>
<p>{{ vacancy.street }} {{ vacancy.number }}, {{ vacancy.plz }} {{ vacancy.city }}</p>
<h5>Eigentümer</h5>
{{ vacancy.ownership }}
<h5>Leerstehend seit</h5>
{{ vacancy.since  if vacancy.since  else "Keine Information" }}
<h5>Grad des Leerstands</h5>
{{ vacancy.degree }}
<h5>Gebäudeart</h5>
{{ vacancy.building_type }}