{% extends "base.html" %}
{% set active_page = "Moderation" %}
{% block head %}
    {{ super() }}
    <script>
        var maps = {}
        $(document).ready(function(){
            {% for form in forms %}
                $("{{ "#collapse" + form.id.data|string }}").on('shown.bs.collapse', function(){
                    loadMap({{ form.id.data }}, {{ form.lat.data }}, {{ form.lon.data }});
                    let map = maps["{{ "map" + form.id.data|string }}"];
                    map.invalidateSize(true);
                });
            {% endfor %}
        })

        function loadMap(vacancy_id, lat, lon) {
            if ($("#map"+vacancy_id).children().length == 0){
                let map = L.map('map' + vacancy_id).setView([lat, lon], 15);
                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox/streets-v11',
                    tileSize: 512,
                    zoomOffset: -1,
                    accessToken: '{{ config['MAPBOX_ACCESS_TOKEN'] }}'
                }).addTo(map);
                L.marker([lat, lon]).addTo(map)
                maps["map" + vacancy_id ] = map;
            }
        }
</script>
{% endblock %}
{% block content %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

{% if forms is not none %}
    {% for form in forms %}
<div class="accordion" id="moderationAccordion">
  <div class="card">
    <div class="card-header" id="{{ "heading" + form.id.data|string }}">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="{{ "#collapse" +  form.id.data|string}}" aria-expanded="false" aria-controls="{{ "collapse" + form.id.data|string }}">
          {{ form.name.data }}
        </button>
      </h5>
    </div>

    <div id="{{ "collapse" + form.id.data|string }}" class="collapse" aria-labelledby="{{ "heading" + form.id.data|string }}" data-parent="#moderationAccordion">
      <div class="card-body">
            <div class="row">
                <form action={{ url_for('moderation') }} method="post" id="vacancyform" class="col-sm-6 m-2" novalidate>
                    <div class="form-group">
                    {{ form.hidden_tag() }}
                    {{ form.id }}
                        {{ form.name.label() }}
                        {{ form.name(class="form-control" + ("is-invalid" if form.name.errors else "")) }}
                        {% for error in form.name.errors %}
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.since.label() }}
                        {{ form.since(class="form-control" + ("is-invalid" if form.since.errors else "")) }}
                        {% for error in form.since.errors %}
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-8">
                                {{ form.street.label() }}
                                {{ form.street(class="form-control" + ("is-invalid" if form.street.errors else "")) }}
                            </div>
                            <div class="col-4">
                                {{ form.number.label() }}
                                {{ form.number(class="form-control" + ("is-invalid" if form.number.errors else "")) }}
                            </div>
                            {% for error in form.street.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                            {% for error in form.number.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                {{ form.postal.label() }}
                                {{ form.postal(class="form-control" + ("is-invalid" if form.postal.errors else "")) }}
                                {% for error in form.postal.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                            <div class="col-8">
                                {{ form.city.label() }}
                                {{ form.city(class="form-control" + ("is-invalid" if form.city.errors else "")) }}
                                {% for error in form.city.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm">
                                {{ form.lat.label() }}
                                {{ form.lat(class="form-control" + ("is-invalid" if form.lat.errors else "")) }}
                                {% for error in form.lat.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                            <div class="col-sm">
                                {{ form.lon.label() }}
                                {{ form.lon(class="form-control" + ("is-invalid" if form.lon.errors else "")) }}
                                {% for error in form.lon.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm">
                                {{ form.building_type.label() }}
                                {{ form.building_type(class="form-control custom-select") }}
                                {% for error in form.building_type.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                            <div class="col-sm">
                                {{ form.degree.label() }}
                                {{ form.degree(class="form-control custom-select") }}
                                {% for error in form.degree.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                            <div class="col-sm">
                                {{ form.ownership.label() }}
                                {{ form.ownership(class="form-control custom-select") }}
                                {% for error in form.ownership.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.owner.label() }}
                        {{ form.owner(class="form-control" + ("is-invalid" if form.owner.errors else "")) }}
                        {% for error in form.owner.errors %}
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.description.label() }}
                        {{ form.description(class="form-control" + ("is-invalid" if form.description.errors else "")) }}
                        {% for error in form.description.errors %}
                            <span style="color: #ff0000;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                {{ form.delete(class="btn btn-danger") }}
                            </div>
                            <div class="col-6">
                                {{ form.submit(class="btn btn-primary") }}
                            </div>
                        </div>

                    </div>
                </form>
                <div class="col-md-4 m-2">
                Vorschau Markerplatzierung
                    <div id="mapContainer" style="position:relative; height: 100%; min-height: 450px">
                        <div id={{ 'map' + form.id.data|string }} style="height: 50%"></div>
                    </div>
                <img src="/static/img/{{ form.id.data }}.jpg">
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
{% else %}
    Keine Einträge zur Moderation vorhanden.
{% endif %}
{% endblock %}